<p id="notice"><%= notice %></p>

<h1>Workouts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Date</th>
      <th>Lifted weight</th>
      <th>Weight unit</th>
      <th>Repetitions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.user_id %></td>
        <td><%= workout.name %></td>
        <td><%= workout.date %></td>
        <td><%= workout.lifted_weight %></td>
        <td><%= workout.weight_unit %></td>
        <td><%= workout.repetitions %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>
