<%= form_for(measurement) do |f| %>
  <% if measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :weight_unit %>
    <%= f.text_field :weight_unit %>
  </div>

  <div class="field">
    <%= f.label :fat_pct %>
    <%= f.text_field :fat_pct %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
