<%= form_for [@user, @exercise] do |f| %> 

  <div class="field">
    <%= f.label :etype %>
    <%= f.select(:etypes, @user.etypes.map {|s| [s.name, s.id]}) %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :muscle %>
    <%= f.select(:muscles, @user.muscles.map {|s| [s.name, s.id]})%>
  </div>

  <div class="field">
    <%= f.label :equipment %>
    <%= f.select(:equipment, @user.equipment.map {|s| [s.name, s.id]})%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
