<div class="card card-outline-success">
  <div class="card-header card-inverse card-success text-center">
    <p id="notice"><%= notice %></p>
    <h1>Exercises</h1>
  </div>

  <div class="card-block">
    <table class="table table-responsive table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Muscle</th>
          <th>Equipment</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.etype %></td>
            <td><%= exercise.name %></td>
            <td><%= exercise.muscle %></td>
            <td><%= exercise.equipment %></td>
            <td><%= link_to 'Show', exercise, :class => "btn btn-outline-success" %></td>
            <td><%= link_to 'Edit', edit_exercise_path(exercise), :class => "btn btn-outline-warning" %></td>
            <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer card-inverse card-success">
    <%= link_to(new_exercise_path, :class=>"card-inverse") do %>
      <%= icon('file-text-o','New Exercise', class: 'fa-2x') %> 
    <% end%>
  </div>  
</div>
